<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <a href="{% url 'SellersHome' %}">Home</a>
        <br>
        <h1>
            Your Products
        </h1>
        <form method="GET" action="{% url 'search' %}">

            <input type=" text" name='query'>
            <button class='btn btn-success'>search</button>
        </form>
        <br>
        <form method="POST" action="{% url 'search' %}">
            {% csrf_token %}
            <label for="filter">filter by</label>
            <select name="filter">
                {% for filter , _ in filters %}
                <option value="{{filter}}">{{filter}}</option>
                {% endfor %}
            </select>
            <button class='btn btn-success'>filter search</button>
            </label>
        </form>
        <br>
        {% for product in products%}
        <a href="{% url 'product_detail' product.pk %}">
            <img src="{{product.thumbnail.url}}" width='200' height='200' alt="">
            <br>
            <h1>{{product.name}}</h1>

        </a>
        @
        {{product.price}}
        <br>
        <hr>
        {% endfor %}
</body>

</html>