{% extends 'base.html' %}
{% block head %}
<title>
  All Products
</title>
{% endblock head %}
{% block body %}
<br>
<br>
<div class="container marketing">
  <br>
  <div class="row">
    <!-- Three columns of text below the carousel -->

    {% for product in products %}
    <div class="card col-lg-4 ">
      <div class="card-body">
        <a class='text-dark' style="text-decoration:none" href="{% url 'product_detail' product.pk %}"><img
            class="rounded-circle" src='{{product.thumbnail.url}}' alt="Generic placeholder image" width="140"
            height="140">
          <h3 class="card-title">{{product.name}}</h3>
          <p class='card-text des'>{{product.description}}</p>
          <p><a class="btn btn-secondary" href="{% url 'product_detail' product.pk %}"" role=" button">View details
              &raquo;</a></p>

        </a>
      </div>

    </div>
    {% endfor %}
  </div>
</div>
<script>
  function my_func() {

    const x = document.getElementsByClassName('des');
    for (let en of x) {
      if (en.textContent.length <= 70) {

      } else {
        var sliced_string = en.textContent.slice(0, 80);
        en.textContent = sliced_string + '.....';
      }
    }
  }

  my_func();
</script>
{% endblock body %}