{% extends 'base.html' %}
{% block head %}
<title>
    delete product
</title>
{% endblock head %}
{% block body %}
<br>
<br>
<div class='container'>
    <div class="jumbotron">
        <h1>
            are you sure you want to delete {{product}}
        </h1>
        <img src="{{product.thumbnail.url}}" alt="">
        <br>
        <p class='float-auto'>
            <h3 class='text-success'>RS : {{product.price}}</h3>
            {{product.description}}
        </p>
        <form method="POST">
            {% csrf_token %}
            <br>
            <button class='btn-primary btn-lg btn-block'>
                confirm
            </button>
        </form>
    </div>
</div>
{% endblock body %}