<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class='container'>

        <h1>
            Items to be delivered
        </h1>
        <br>

        <a href="{% url 'ShowAllProducts' %}" class='btn btn-primary float-right'>Your Items</a>
        {% for product in Product%}
        <a href="{% url 'SellerProductDetail' product.pk %}">
            <img src="{{product.product.thumbnail.url}}" width='200' height='200'>
            <br>
            <h1>{{product.product.name}}
            </h1>
        </a>
        <hr>
        {% endfor %}
    </div>
</body>

</html>