{% extends 'base.html' %}
{% block head %}
<title>
    product to deliver
</title>
{% endblock head %}
{% block body %}
<br>
<div class="container">
    <br>
    <br>
    <img src="{{product_details.product.thumbnail.url}}" width='200' height='200' alt="">
    <br>
    <h1>{{product_details.product.name}}</h1>
    <p>
        {{product_details.product.description}}
        <br>
        <h3 class='text-warning'>from : {{product_details.user.user.first_name}} {{product_details.user.user.last_name}}
        </h3>
        <h3 class='text-warning'>Phone : {{product_details.user.phone}}</h3>
    </p>
    NRS {{extra_charge}}
    <br>
    <h4>
        final date : {{product_details.ProductDeliveryDate}}
    </h4>
    <hr>
    place to deliver:
    <p>
        {{address}}
    </p>
    <hr>
    <h3>
        status
    </h3>
    {% if product_details.ProductDilivered %}
    <button class='btn btn-primary'>Product Dilivered </button>
    {% elif product_details.ProductShipeed %}
    <button class='btn btn-primary'>Product Shipeed</button>
    {% elif product_details.ProductPackaged %}
    <button class='btn btn-primary'>Product Packaged</button>
    {% else %}
    <button class='btn btn-primary'>Product order received</button>
    {% endif %}
    <br>

    <form method='POST'>
        <h1>
            Change Product Status
        </h1>
        {% csrf_token %}
        {% if not product_details.ProductPackaged %}
        <input type="radio" name="Product_Packaged" value="Product_Packaged">Product Packed<br>
        <br>
        <button class='btn btn-dark'>change status</button>
        {% elif not product_details.ProductShipeed %}
        <input type="radio" name="Product_Shipeed" value="Product_Shipeed">Product Shipped<br>
        <br>
        <button class='btn btn-dark'>change status</button>
        {% elif not product_details.ProductDilivered %}
        <input type="radio" name="Product_Dilivered" value="Product_Dilivered">Product Delivered<br>
        <br>
        <button class='btn btn-dark'>change status</button>
        {% else %}
        product delivered

        {% endif %}

    </form>
    </form>
    <hr>
</div>
{% endblock body %}