{% extends 'base.html' %}
{% block head %}
<title>
    login
</title>
{% endblock %}
{% block body %}
  <form method="POST">
  {% csrf_token %}
    <div class='container'>


      <div class="jumbotron">
      <h3 class='text-dark'> <center>Login</center> </h3>

        <input type="text" name ='user_name' class='form-control' placeholder='user name'>
        <br>
        <input type="password" name="password" class="form-control" placeholder='password'>
        <br>
        <button class='btn btn-dark btn-lg btn-block'>login</button>
        {% if messages %}
<ul class="messages mt-5">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }} alert-error"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}{% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
        </div>
  {% endblock %}