{% extends 'base.html' %}
{% block head %}
<title>{{product.name}}</title>
{% endblock %}
{% block body %}
<br>
<div class="container">
    <div class="jumbotron">
        <h1 class='text-danger'>
            Are you sure you want to buy {{product.name}}?
        </h1>
        <h2>
            <p>
                note : no online payment aviable but will be soon
                <br>

            </p>
        </h2>
        your total charge will be : RS {{charge}} with delivery charge
        <br>
        <br>
        <form method="post">
            {% csrf_token %}
            <button class='btn btn-dark btn-lg btn-block'>confirm order</button>
        </form>
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </div>
</div>
{% endblock %}