<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <a href="{% url 'home' %}">home</a>
    
    <div class="container">
<h1>
        My cart
    </h1>
    <br>
        {% for cart in cart_list %}
        <a href="{% url 'product_detail' cart.cart_product.pk %}">
       <h1>{{cart}}</h1> 
       <form method="POST">
       {% csrf_token %}
       <br>
       <input type='hidden' value = '{{cart.pk}}' name = 'cart_item' >
       <button class = 'btn btn-primary'>delte this item from your cart</button>
       </form>
    
         <img src="{{cart.cart_product.pricture.url}}" width = '200' height = '200' alt="">
         <br>
        </a>
        <hr>
        {% endfor %}
    </div>

</body>

</html>