<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <a href="{% url 'home' %}">home</a>
        <br>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        <img src="{{product.thumbnail.url}}" width='200' height='200' alt="">
        <br>
        <h1>{{product.name}}</h1>

        <p>
            {{product.description}}@{{product.price}}
        </p>
        {% if request.user.buyer %}


        {% if cart.cart_product %}
        item already in cart
        {% else %}
        <form method="POST">
            {% csrf_token %}
            <button class='btn btn-primary'>
                add to cart
            </button>
        </form>
        <a href="{% url 'buy' product.pk %}">buy</a>
        {% endif %}
        {% else %}
        <a href="{% url 'DeleteProduct' product.pk  %}">delete product</a>
        <br>
        <a href="{% url 'EditProduct' product.pk %}">edit product</a>
        {% endif %}

        <h1>more images</h1>
        {% if more_images %}
        {% for images in more_images %}
        <img src="{{images.pictures.url}}" width='200' height='200' alt="">
        {% endfor %}
        {% else %}
        <h1>
            no more images
        </h1>
        {% endif %}

    </div>
</body>

</html>