{% extends 'base.html' %}
{% block head %}
<title>search</title>
{% endblock %}
{% block body %}
<div class="container">
    <div class="jumbotron">
        {% if result %}
        <h2 class='text-danger'>
            All search results related to {{query}}
        </h2>
        <br>
        {% for product in result %}
        <a href="{% url 'product_detail' product.pk %}">
            <img src="{{product.thumbnail.url}}">
            <br>
            <h3 class='text-dark'>{{product.name}}</h3>

        </a>
        <br>
        <hr>
        {% endfor %}
        {% else %}
        <h1>
            no search results
        </h1>
        {% endif %}

    </div>
</div>

{% endblock %}